*.arith
*.in
.vscode/*
xjsnark/.mps/workspace.xml
pk_file
vk_file
log
initial_node
final_node
encoded_execution_path
random_padding
nonce
encoded_adjlist
__pycache__/
adjlist_digest
execution_path_digest
jsnark
jsnark/*
/bin/*
/circuits/*
proof_file